@model FacturasCtrl.Web.Data.Entities.Tipocta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipocta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipnombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipnombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipcodfidu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipcodfidu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
