@model FacturasCtrl.Web.Data.Entities.Factura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facplanilla)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facplanilla)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRecibido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRecibido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoFactura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoFactura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facvalsiniva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facvalsiniva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechadePago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechadePago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstruccionesEspeciales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstruccionesEspeciales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentoAnexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentoAnexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CuentaOrigen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuentaOrigen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesDTA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObservacionesDTA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesDF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObservacionesDF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facpago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facpago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facsucursal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facsucursal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facperrecib)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facperrecib)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facanticipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facanticipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facimpto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facimpto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facnomina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facnomina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instruccionespagos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instruccionespagos.Concepto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proveedors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proveedors.Prodirec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prioridads)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prioridads.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
